body{
    font-family: arial, sans-serif;
}

h3{
	font-size: 40px;
	margin: 5px;
}

p{
	font-size: 17px;
	margin: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td{
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
    font-style: bold;
}